@media (max-width: 1058px) {

    .sub-container1 h1 {
        margin-top: 10%;
        font-size: 2rem;
        
    }
    .sub-container1 p {
        margin-bottom:1% ;
        font-size: 1.3em;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
        
    }

}


@media (max-width: 1048px) {
    .subcontainerpanelborder p {
        font-size: 1.2vh;
        text-align: center;
    }

}




/* Finalizar depois
 */