body{
  background-color: hsl(233, 47%, 7%);
  color: white;
  font-size: 14px;
}
main{
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
#container{
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex-direction: row;
  height:auto;
  min-height: 40vh;
  width: 80vw;
}
  .sub-container1{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
      .sub-container1 h1{
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        margin-bottom: 1%;
        margin-top: 20%;
        text-align: left;
        width:70%;
      }
      .sub-container1 span{
        color:hsl(277, 64%, 61%) ;
      }
      .sub-container1 p{
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        margin-bottom: 1.5%;
        text-align: left;
        width: 70%;
      }
      .sub-container1panel{
        display: flex;
        flex-direction: row;
        width: 100%;
      }
        .subcontainerpanelborder{
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;            
          margin-bottom: 5%;
          width: 100%;
        }
           .subcontainerpanelborder strong{
            font-family: 'Inter', sans-serif;
            font-size:2.7vh;
            font-weight: 700;
            text-align: center;
          }
          .subcontainerpanelborder p{
            color: hsla(0, 0%, 100%, 0.6);
            font-family: 'Inter', sans-serif;
            font-size: 1.2vh;
            font-weight: 400;
            text-align: center;
          }
  .sub-container2{
    background-blend-mode: multiply ;
    background-color: hsl(277, 64%, 61%);
    background-image: url(/src/img/image-header-desktop.jpg) ;
    background-size: cover;
    filter: contrast(80%);
    width: 50%;
  }